$primaryColor:#D4C62E;
$secondaryColor: #F45D01;

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
}

body {
    background-image: url("../../images/toa-heftiba-530185-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover; 
}

button,
input[type=submit] {
    padding: 5px 10px;;
    border-radius: 5px;
    font-size: 1.6rem;
}

.formSelect {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
    border: 1px solid black;
}

.formSelect select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
 }

 .styled-select.slate {
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 240px;
 }