.searchContainerHolder {
    display: flex;
    justify-content: flex-end;
}

.searchContainer {
    height: 600px;
    border: 1px solid black;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 3px 3px 3px black;
    border-radius: 5px;

    .searchContainerForm {
        width: 50%;
        padding: 20px;
    }

    .searchCloseButton {
        width: 25%;
        justify-content: flex-end;
        display: flex;
        padding: 20px;
    }
}
