.mainHeader {
    box-shadow: 3px 3px 8px grey;
    background: white;
    height: 50px;

    .mainHeaderHolder {
        display: flex;
        justify-content: space-between;
    }

    .optionsButtons {
        display: flex;
        justify-content: space-between;
    }
}
