.searchContainerResults,
.favoritesContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.searchContainer {
    height: 600px;
}

.recipeContainer {
    height: 250px;
    
    .recipeContainerContent {
        position: relative;
        &:hover .headerContainer {
            opacity: .8;
        }
        
        .headerContainer {
            transition: .2s all ease;
            height: 100%;
            opacity: 0;
            text-align: center;
            position: absolute;
            bottom: 0;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.imageHolder {
    width: 100%;
}